// import fonts oswald
@font-face {
  font-family: $primary_font;
  src: url(../webfonts/Oswald-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: $primary_font;
  src: url(../webfonts/Oswald-Bold.ttf);
  font-weight: 700;
}
