*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: {
    family: $primary_font;
    weight: 300;
    size: 16px;
  }
  line-height: 1.4;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
